.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
}

.icon {
  width: 3rem;
  height: 3rem;
  fill: white;
  cursor: pointer;
  margin: 1rem;

  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1);
  }
}
