.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  padding: 1rem;
  background-color: transparent;
  padding: 1rem;
  height: 6rem;

  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease;

  &__open-bg {
    background-color: #1a1a1a;
  }
}

.scrolled {
  background-color: #1a1a1a;
  backdrop-filter: blur(10px);
}

.pages {
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, 1fr));
  gap: 1rem;
  align-content: center;
  justify-items: center;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 6rem;
    left: 0;
    right: 0;
    background-color: #1a1a1a;
    padding: 2rem;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  &.open {
    pointer-events: auto;
    opacity: 1;
  }
}

.link {
  padding: 0.75rem 1.5rem;
  border-radius: 999px;
  background-color: transparent;
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 13rem;
  text-align: center;
  display: block;

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
}

.menu-icon {
  display: none;
  cursor: pointer;

  &__icon {
    width: 4rem;
    height: 4rem;
    fill: white;
  }

  @media (max-width: 768px) {
    display: block;
  }
}
