@use "./variables" as *;
////////////////////////////////////// Clips //////////////////////////////////////////////
@mixin triangle-left {
  clip-path: polygon(100% 50%, 0 5%, 0 100%);
}

@mixin bottom-half-right {
  clip-path: polygon(100.5% 49.5%, 100.5% 100.5%, 0% 100.5%, 0 95%);
}

@mixin angled-slice {
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
}

@mixin top-left-corner {
  clip-path: polygon(100% -0.5%, -0.5% -0.5%, 100% 100%);
  @media (max-width: $tablet-small) {
    clip-path: polygon(100% -0.5%, -0.5% -0.5%, 100% 50%);
  }
}

@mixin top-right-corner {
  clip-path: polygon(100% -0.5%, -0.5% -0.5%, -0.5% 100%);
  @media (max-width: $tablet-small) {
    clip-path: polygon(100% -0.5%, -0.5% -0.5%, -0.5% 50%);
  }
}
@mixin footer-top-right-corner {
  clip-path: polygon(100.5% -0.5%, -0.5% -0.5%, -0.5% 100%);
  @media (max-width: $tablet-small) {
    clip-path: polygon(100.5% -0.5%, -0.5% -0.5%, -0.5% 50%);
  }
}

////////////////Responsive fonts///////////////////////
// $font-sizes: (
//   h1: (
//     base: 55px,
//     md: 45px,
//     sm: 35px,
//   ),
//   h2: (
//     base: 35px,
//     md: 30px,
//     sm: 25px,
//   ),
// );

// @mixin type($name) {
//   $sizes: map-get($font-sizes, $name);

//   font-size: map-get($sizes, base);

//   @media (max-width: $medium-screen) {
//     font-size: map-get($sizes, md);
//   }
//   @media (max-width: $tablet) {
//     font-size: map-get($sizes, sm);
//   }
// }
