////////////////////////////////////// Clips //////////////////////////////////////////////
@mixin triangle-left {
  clip-path: polygon(100% 50%, 0 5%, 0 100%);
}

@mixin bottom-half-right {
  clip-path: polygon(100% 50%, 100% 100%, 0 100%, 0 95%);
}

@mixin angled-slice {
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
}

@mixin top-left-corner {
  clip-path: polygon(100% 0, 0 0, 100% 10%);
}

@mixin top-right-corner {
  clip-path: polygon(100% 0, 0 0, 0 10%);
}
