///////////////////////////////////// COLOR PALLER //////////////////////////////////////
// #dc143c

$color-primary: #e94f37; // The bold red you are using as the primary color
$color-accent: #ffd700; // Bright Yellow for accents and highlights

// Dark Greys
$color-dark-grey-1: #1a1a1a; // Jet Black (Darkest)
$color-dark-grey-2: #333333; // Dark Charcoal (Middle)
$color-dark-grey-3: #4d4d4d; // Medium Dark Grey (Lightest)

// Light Greys
$color-light-grey-1: #f5f5f5; // Off-White (for h1)
$color-light-grey-2: #e0e0e0; // Soft Gray (for h2)
$color-light-grey-3: #c4c4c4; // Light Gray (for paragraphs)
