.container {
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [content-start] repeat(
      8,
      [col-start] minmax(min-content, 1fr) [col-end]
    )
    [content-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows:
    [header-start] repeat(20, [header-row-start] 8vh [header-row-end])
    [header-end pannel-1-start] min-content
    [pannel-1-end] repeat(3, min-content);

  & .about-me__slidebox {
    background-color: #1a1a1a;
    grid-row: pannel-1-start / pannel-1-end;
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
  }

  // & .about-me__timeline {
  //   grid-column: col-start 4 / col-end 4;
  //   grid-row: header-row-start 19 / pannel-1-end;
  //   z-index: 3;
  // }

  & .about-me__events {
    grid-column: col-start 4 / full-end;
    grid-row: header-row-start 14 / pannel-1-end;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    z-index: 3;
  }
  &-2 {
    grid-column: full-start / full-end;
    height: 150vh;
    background-color: brown;
  }
}
