@use "styles/abstracts/variables.scss" as *;
.container {
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [content-start] repeat(
      8,
      [col-start] minmax(min-content, 1fr) [col-end]
    )
    [content-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows:
    [header-start] repeat(20, [header-row-start] 8vh [header-row-end])
    [header-end pannel-1-start] repeat(
      3,
      [pannel-start] min-content [pannel-end]
    );

  &__about-me {
    background-color: $color-dark-grey-1;
    grid-row: pannel-start / pannel-end;
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;

    &__events {
      grid-column: col-start 4 / full-end;
      grid-row: header-row-start 17 / pannel-end 1;
      display: grid;
      grid-template-columns: subgrid;
      grid-template-rows: subgrid;
      z-index: 3;
    }
  }

  &__projects {
    grid-row: pannel-start 2 / pannel-end 2;
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
  }

  &__hobbies {
    grid-row: pannel-start 3 / pannel-end 3;
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    height: 150rem;
  }
}
