.container {
  grid-column: col-start 1 / content-end;
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 0.5rem;
  &__text {
    text-align: center;
    & > * {
      color: white;
    }
  }
}
.imageWrapper {
  position: relative;
  height: 8rem;
  width: 28rem;
}

.image {
  object-fit: fill;
  border-radius: 0.5rem;
}
