*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10px -> easy to calculate and work with
}

body {
  font-family: "Open Sans", sans-serif; // Font of  choice
  line-height: 1.6;
}
