@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.h1 {
  font-size: 55px;
  font-weight: bold;
  color: $color-light-grey-1;

  @media (max-width: $medium-screen) {
    font-size: 45px;
  }
  @media (max-width: $tablet) {
    font-size: 40px;
  }
  @media (max-width: $tablet-small) {
    font-size: 35px;
  }
  @media (max-width: $mobile) {
    font-size: 20px;
  }
}

.h2 {
  font-size: 35px;
  font-weight: bold;
  color: $color-light-grey-2;

  @media (max-width: $medium-screen) {
    font-size: 30px;
  }
  @media (max-width: $tablet) {
    font-size: 25px;
  }
  @media (max-width: $tablet-small) {
    font-size: 20px;
  }
}
.p {
  color: $color-light-grey-3;
  font-size: 18px;
  line-height: 1.5;
}

.btn {
  background-color: $color-dark-grey-1;
  color: #fff;
  border: none;
  border-radius: 0;
  font-size: 16px;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  @media (max-width: $tablet) {
    padding: 1.4rem 2.6rem;
  }

  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background-color: $color-dark-grey-2;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }
}

.color-green {
  color: $color-green;
}

.color-red {
  color: $color-red;
}

.color-sun-faded {
  color: $color-sun-faded;
}

//////////////////////////////////////// Typography for small containers ////////////////////////////////////////
.sm-p {
  font-size: 14px;
  // padding: 0 4rem;
}

.sm-h1 {
  font-size: 24px;
}
.sm-h2 {
  font-size: 16px;
}
