.container {
  grid-column: col-start 1 / col-end 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20rem;
  padding: 3rem 0;
}

.step {
  position: relative;
  display: flex;
  align-items: center;
}

.dot {
  width: 3rem; // ~ w-3
  height: 3rem;
  border-radius: 9999px;
  border: 0.5rem solid white; // Tailwind's gray-700
  background-color: crimson;
}

.connector {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0.5rem; // ~ w-6
  height: 20rem;
  background-color: white; // Tailwind's gray-500
  transform: translateX(-50%);
}
