@use "styles/abstracts/variables.scss" as *;

.hero-container {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-column: full-start / full-end;
  grid-row: header-row-start 2 / header-row-end 20;
  z-index: 2;
  overflow-x: hidden;

  &__hero-text-container {
    padding: 5rem 0; // keep an eye out for this
    grid-row: header-row-start 4 / header-row-end 20;
    grid-column: content-start / col-end 4;

    &__section {
      &__header {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: flex-start;
        @media (max-width: $mobile) {
          gap: 2rem;
        }
      }
    }
    @media (max-width: $medium-screen) {
      grid-row: header-row-start 5 / header-row-end 20;
    }
    @media (max-width: $medium-screen) {
      grid-column: content-start / col-end 5;
    }
    @media (max-width: $mobile) {
      grid-row: header-row-start 3 / header-row-end 20;
      grid-column: full-start / col-end 5;
      padding-left: 1.5rem;
    }
  }

  &__hero-image-container {
    grid-row: header-row-start 1 / header-row-end 15;
    grid-column: col-start 5 / full-end;
    // padding: 2rem;

    position: relative;
    width: 100%;
    height: 100%;

    @media (max-width: $tablet) {
      grid-row: header-row-start 2 / header-row-end 15;
    }
    @media (max-width: $tablet-small) {
      grid-row: header-row-start 3 / header-row-end 15;
    }
    @media (max-width: $tablet-smallest) {
      width: 110%;
    }

    &__image {
      object-fit: cover;
    }
  }
}

.para {
  @media (max-width: $medium-screen) {
    display: none;
  }
}
