@use "@/styles/abstracts/variables" as *;
.container {
  position: relative;
  grid-column: content-start / col-end 3;
  grid-row: pannel-start 1 / pannel-end 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slidingBox {
  display: none;

  @media (min-width: 1024px) {
    display: block;
    position: sticky;
    top: 50%;
    color: white;

    height: fit-content;
    padding-bottom: 8rem;
  }
}
