@use "@/styles/abstracts/mixins" as clips;
@use "@/styles/abstracts/variables" as *;

.container {
  grid-column: full-start / full-end;
  grid-row: header-start / header-end;

  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  position: relative;
  overflow-x: hidden;

  & > * {
    position: absolute;
    inset: 0; // Gamechanger
    grid-column: full-start / full-end;
    grid-row: header-start / header-end;
  }
}

.header {
  &__1 {
    grid-row: header-row-start 1 / header-row-end 10;
    inset: -1rem -1rem 0 -1rem;
    background-color: $color-dark-grey-1;
    &-inner {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgb(26, 26, 26, 0.8);
      z-index: 1;
    }
  }

  &__2 {
    background: linear-gradient(225deg, $color-dark-grey-1, $color-primary);
    @include clips.triangle-left;
    z-index: 2;
  }

  &__3 {
    @include clips.bottom-half-right;
    background-color: $color-dark-grey-1;
    z-index: 3;
  }
}
